*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Comfortaa',cursive;
    font-weight: bold;
    color: white;
    outline: none;
}
img{
    width:  98.9vw;
    height: 130vh;
    z-index: 1;
    position: absolute;
}
input{
    background-color: white;
    border-radius: 5px;
    border: none;
}
form{
    z-index: 2;
    position: absolute;
    background-color: rgba(28, 32, 35, 0.6  );
    height: 116.7vh;
    width: 40vw;
    font-size: 15px;
    padding: 50px;
    header{
        .name{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .name-travel{
            margin-top: 30px;
            p{
                margin-bottom: 10px;
            }
            input{
                padding: 8px;
                width: 220px;
                color: black;
            }
        }
        .id{
            margin-left: 300px;
            margin-top: -58px;
            .review{
                margin-bottom: 10px;
            }
            input{
                padding: 8px;
                width: 220px;
                color: black;
            }
        }
    }
    main{
        margin-top: 30px;
        .rexiew-travel{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .country-visit{
            margin-top: 30px;
            .country{
                margin-bottom: 10px;
            }
            input{
                padding: 8px;
                width: 220px;
                color: black;
            }
        }
        .city{
            margin-top: -58px;
            margin-left: 300px;
            p{
                margin-bottom: 10px;
            }
            select{
                color: grey;
                padding: 8px;
                width: 220px;
                border-radius: 5px;
                option{
                    color: black;
                }
            }
        }
        .mark-travel{
            display: flex;
            margin-top: 20px;
            input{
                margin-left: 166px;
                width: 220px;
            }
        }
        .opinion{
            margin-top: 20px;
            p {
                margin-bottom: 10px;
            }     
            textarea {
                padding: 8px 0px 0px 8px;
                width: 500px;
                height: 50px;
                color: black;
                border-radius: 5px;
            }
        }
    }
    footer{
        margin-top: 30px;
        .mark-hotel{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .name-hotel{
            margin-top: 30px;
            p{
                margin-bottom: 10px;
            }
            input{
                padding: 8px;
                width: 220px;
                color: black;
            }
        }
        .calendar{
                margin-left: 300px;
                margin-top: -58px;
            p {
                margin-bottom: 10px;
            }
            input {
                padding: 8px;
                width: 220px;
                color: black;
            }
        }
        .dinner{
            margin-top: 20px;
            p{
                margin-bottom: 10px;
            }
            select{
                color: black;
                padding: 8px;
                width: 220px;
                border-radius: 5px;
                option{
                    color: black;
                }
            }
        }
        .color-bed{
            margin-left: 300px;
            margin-top: -58px;
            .bed{
                margin-bottom: 10px;
            }
        }
        .tasty-fish{
            margin-top: 20px;
            .fish{
                margin-bottom: 10px;
            }
            .fish-scroll{
                overflow-y: scroll;
                color: black;
                padding: 8px;
                width: 220px;
                border-radius: 5px;
                option {
                    color: black;
                }
            }
        }
        .end{
            display: flex;
            margin: 30px 0px 0px 300px;
            .remove{
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #CC1CA1;
                background-color: transparent;
                margin-right: 22px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
            .send{
                color: white;
                padding: 8px;
                border-radius: 5px;
                border: none;
                background-color: #CC1CA1;
            }
        }
    }
}